uvicorn~=0.34.2
fastapi~=0.115.12
requests~=2.32.3
cbor2~=5.6.5
pycose~=1.1.0
cryptography~=44.0.2
pyOpenSSL~=25.0.0
pydantic~=2.11.3
anthropic~=0.50.0
beautifulsoup4>=4.12.2

pyautogen[all]==0.9
mcp==1.8.1
python-dotenv==1.0.1
openai==1.78.1
asyncio==3.4.3
google-genai==1.15.0
vertexai==1.71.1
ag2==0.9.1.post0
python-binance==1.0.28